{% set vars = pillar["matrix"] %}
{% set server = vars["server"] %}
{% set synapse = vars["synapse"] %}
{% set livekit = vars["livekit"] %}

server_name: {{ server["name"] }}
public_baseurl: https://{{ server["name"] }}/

rc_message:
  per_second: {{ synapse["message_per_second"] }}
  burst_count: {{ synapse["message_burst"] }}
rc_room_creation:
  per_second: {{ synapse["room_creation_per_second"] }}
  burst_count: {{ synapse["room_creation_burst"] }}

experimental_features:
  msc3266_enabled: true
  msc4222_enabled: true
  msc3575_enabled: true
  msc4108_enabled: true
  msc4143_enabled: true

rc_delayed_event_mgmt:
  per_second: 1
  burst_count: 20

matrix_rtc:
  transports:
    - type: livekit
      url: {{ livekit["sfu_url"] }}
      livekit_service_url: https://{{ server["name"] }}
