{
  "database": {
    "name": "psycopg2",
    "args": {
      "user": "synapse",
      "password": {{ db_password | tojson }},
      "database": "synapse",
      "host": "127.0.0.1",
      "port": 5432,
      "cp_min": 5,
      "cp_max": 10
    }
  },
  "matrix_authentication_service": {
    "enabled": true,
    "endpoint": "http://127.0.0.1:8082",
    "secret": {{ pillar["matrix"]["credentials"]["shared_secret"] | tojson }}
  },
  "macaroon_secret_key": {{ pillar["matrix"]["credentials"]["macaroon_secret_key"] | tojson }},
  "form_secret": {{ pillar["matrix"]["credentials"]["form_secret"] | tojson }}
}
