{
  "secrets": {
    "encryption": {{ pillar["matrix"]["credentials"]["mas_encryption"] | tojson }},
    "keys": [
      {
        "key_file": "/mas-signing.key"
      }
    ]
  },
  "database": {
    "host": "127.0.0.1",
    "port": 5432,
    "username": "mas",
    "password": {{ db_password | tojson }},
    "database": "mas",
    "ssl_mode": "prefer"
  },
  "matrix": {
    "kind": "synapse",
    "homeserver": {{ pillar["matrix"]["server"]["name"] | tojson }},
    "endpoint": "http://127.0.0.1:8008",
    "secret": {{ pillar["matrix"]["credentials"]["shared_secret"] | tojson }}
  },
  "clients": []
}
